<h1>Events</h1>
<div class="row">
    <div class="col-12">
        <ul>
            <li>Events are plain string messages.</li>
            <li>Try to make events creator panel work using EventsService as mean of communication.</li>
            <li>Enabling automatic events creation should automatically create events every 1200ms.</li>
            <li>Status of automatic creation should be properly displayed on button text.</li>
            <li>However events counter should be updated no more often than every 3000ms.</li>
            <li>Toasted events should disappear after 6000ms.</li>
            <li>Toasted event is bootstrap's card component with only card body present.</li>
            <li>On entry toaster should display last event (if exists).</li>
            <li>Clear all removes all toasted events at once and resets the counter.</li>
            <li>Make counter display current events count.</li>
            <li>Counter should reset automatically only on web application restart.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-events-counter></app-events-counter>
    </div>
    <div class="col-6">
        <app-events-toaster></app-events-toaster>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <app-events-creator></app-events-creator>
    </div>
</div>
